.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pane {
  height: 50vh;
}

.pane-code {
  display: flex;
  background-color: hsl(225, 6%, 25%);
  gap: 1rem;
  padding: 1rem
}

.editor-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-basis: 0;
  /* border: 1px solid black; */
}

.collapsed {
  flex-grow: 0;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: .7rem 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  gap: 1rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  font-size: 1rem;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.pane-output {
  overflow: hidden;
}